[{:itonami.blueprint/social-impact [:local-jobs :animal-welfare :small-business-viability], :itonami.blueprint/domain :services/pet-care, :itonami.blueprint/required-technologies [:robotics :forms :telemetry :audit-ledger :bpmn], :itonami.blueprint/isco-08 "5164", :itonami.blueprint/name "Independent Pet Care Practice", :itonami.blueprint/governor :pet-care-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-5164", :itonami.blueprint/license "AGPL-3.0-or-later"}]